
/* App.css */

/* Importuj Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.gradient_container{
    width: 650px;
    height:  100%;
    background: rgb(39,41,47);
    background: linear-gradient(23deg, rgba(39,41,47,1) 0%, rgba(84,86,92,1) 100%);
border-radius: 10px;
}

body{
    background-color: #141518;
}

.logo {
    width: 100px; 
    height: auto;
    
  }

.scalable{
    transform: scale(0.9);
}

  